<a href="https://colab.research.google.com/github/409650941/0518/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i=range(5)

In [2]:
print(type(i))

<class 'range'>

In [3]:
print(i)

range(0, 5)

In [4]:
print(list(i))

[0, 1, 2, 3, 4]

In [5]:
j=range(10)

In [6]:
a=range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [9]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c=range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [11]:
d=range(3,8,2)
print(list(d))

[3, 5, 7]

In [12]:
e=range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [1]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [2]:
f=range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
g=range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
h=range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [5]:
i=range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [7]:
test=int(input("請輸入一個正整數"))
for m in range(1,test+1):
  print(m,end= "")

請輸入一個正整數10
12345678910

In [11]:
test1=int(input("請輸入一個正整數"))
for m in range(1,test1+1,2):
  print(m,end= "")

請輸入一個正整數10
13579

In [13]:
sum=0
for n in range(5):
  sum=sum+n
print(sum)

10

In [15]:
for n in range(3):
  print(n,end=",")

0,1,2,

In [16]:
sum=0
a=int(input("請輸入一個正整數:"))
for n in range(1,a+1):
    sum=sum+n
print("1到",a,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [17]:
sum=0
a=int(input("請輸入一個正整數:"))
for n in range(1,a+1):
    sum=sum+n
    print("1到",str(n)+"的整數和為",sum)

請輸入一個正整數:50
1到 1的整數和為 1
1到 2的整數和為 3
1到 3的整數和為 6
1到 4的整數和為 10
1到 5的整數和為 15
1到 6的整數和為 21
1到 7的整數和為 28
1到 8的整數和為 36
1到 9的整數和為 45
1到 10的整數和為 55
1到 11的整數和為 66
1到 12的整數和為 78
1到 13的整數和為 91
1到 14的整數和為 105
1到 15的整數和為 120
1到 16的整數和為 136
1到 17的整數和為 153
1到 18的整數和為 171
1到 19的整數和為 190
1到 20的整數和為 210
1到 21的整數和為 231
1到 22的整數和為 253
1到 23的整數和為 276
1到 24的整數和為 300
1到 25的整數和為 325
1到 26的整數和為 351
1到 27的整數和為 378
1到 28的整數和為 406
1到 29的整數和為 435
1到 30的整數和為 465
1到 31的整數和為 496
1到 32的整數和為 528
1到 33的整數和為 561
1到 34的整數和為 595
1到 35的整數和為 630
1到 36的整數和為 666
1到 37的整數和為 703
1到 38的整數和為 741
1到 39的整數和為 780
1到 40的整數和為 820
1到 41的整數和為 861
1到 42的整數和為 903
1到 43的整數和為 946
1到 44的整數和為 990
1到 45的整數和為 1035
1到 46的整數和為 1081
1到 47的整數和為 1128
1到 48的整數和為 1176
1到 49的整數和為 1225
1到 50的整數和為 1275